name: untitled1
description: A new Flutter project.


publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ">=2.15.1 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.4

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^1.0.4

flutter:


  uses-material-design: true

  assets:
    - Image/

  fonts:
    - family: MochiyPopPOne
      fonts:
        - asset: fonts/MochiyPopPOne-Regular.ttf
          style: italic

    - family: JosefinSans
      fonts:
        - asset: fonts/JosefinSans-VariableFont_wght.ttf
          style: italic